<!---
============================================
; Title: Assignment 6.4
; Author: Richard Krasso
; Date: 3 June 2020
; Modified By: Rhonda Rivas
; Description: Employee Records App
==========================================+
--->
<!DOCTYPE html>
<html lang en="us">
<link rel="stylesheet" type="text/css" href="../style.css">
    <body>
        <%- include ('header') -%>
        <%- include ('navbar') -%>

        <div role="main" class="container" style="width: 30%;">

        </br></br>

            <% if (employees.length) { %>
            <h2>Current Employees</h2>
            <br/>

            <br/>
            <table class="table">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                    </tr>
                </thead>
                <tbody>
                    <% employees.forEach(function (entry) { %>
                    <tr>
                        <td><%= entry.firstName %></td>
                        <td><%= entry.lastName %></td>
                    </tr>
                </tbody>
                <% }) %>
            </table>
            <% } else { %> No entries! <a href="/new.ejs">Add one!</a>
            <% } %>
            <a href="/new.ejs">New Employee</a>
            <br/>
        </div>

        <%- include ('footer') -%>

    </body>
</html>
