<!---
============================================
; Title: Assignment 6.4
; Author: Richard Krasso
; Date: 3 June 2020
; Modified By: Rhonda Rivas
; Description: Employee Records App
==========================================+
--->

<!DOCTYPE html>
<html lang="en">
  <%- include ('header') -%>

  <body>
    <%- include ('navbar') -%>

    <div role="main" class="container" style="width: 50%;">
      <br />
      <br />

  <h2><%= message %></h2>

    </br></br>

    <form method="post" action="/process">
      <div class="form-group">
        <label for="txtFirstName">First Name:</label>
        <input type="text" class="form-control" id="txtFirstName" name="txtFirstName" />
      </div>

      <div class="form-group">
        <label for="txtLastName">Last Name:</label>
        <input type="text" class="form-control" id="txtLastName" name="txtLastName" />
      </div>

      <div class="form-group">

        <!-- CSRF token -->
        <input name="_csrf" value="<%= csrfToken %>" type="hidden" />

        <button type="submit" class="btn btn-primary float-right">Submit</button>
      </br></br>
      </br></br>
      </br></br>
      </div>
    </form>
    <a href="/list">Return to Employees</a>
  </div>
</div>
</body>
<%- include('footer') -%>
</html>
